@import "../../docs/_sass/fonts/fonts";


//############ import font ############

//Regular
@font-face {
	font-family: 'Amazon Ember';
	src: url('./AmazonEmber_Rg.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family: 'Amazon Ember';
	src: url('./AmazonEmber_RgIt.ttf') format('truetype');
	font-weight:normal;
	font-style:italic;
}


//Medium
@font-face {
	font-family: 'Amazon Ember';
	src: url('./Amazon-Ember-Medium.ttf') format('truetype');
	font-weight:bold;
	font-style:normal;
}

@font-face {
	font-family: 'Amazon Ember';
	src: url('./Amazon-Ember-MediumItalic.ttf') format('truetype');
	font-weight:bold;
	font-style:italic;
}


//Bold
@font-face {
	font-family: 'Amazon Ember';
	src: url('./AmazonEmber_Bd.ttf') format('truetype');
	font-weight:bolder;
	font-style:normal;
}

@font-face {
	font-family: 'Amazon Ember';
	src: url('./AmazonEmber_BdIt.ttf') format('truetype');
	font-weight:bolder;
	font-style:italic;
}



//Heavy

@font-face {
	font-family: 'Amazon Ember';
	src: url('./AmazonEmber_He.ttf') format('truetype');
	font-weight:900;
	font-style:normal;
}

@font-face {
	font-family: 'Amazon Ember';
	src: url('./AmazonEmber_HeIt.ttf') format('truetype');
	font-weight:900;
	font-style:italic;
}


//Light
@font-face {
	font-family: 'Amazon Ember';
	src: url('./AmazonEmber_Lt.ttf') format('truetype');
	font-weight:lighter;
	font-style:normal;
}
@font-face {
	font-family: 'Amazon Ember';
	src: url('./AmazonEmber_LtIt.ttf') format('truetype');
	font-weight:lighter;
	font-style:italic;
}


//Thin
@font-face {
	font-family: 'Amazon Ember';
	src: url('./AmazonEmber_Th.ttf') format('truetype');
	font-weight:100;
	font-style:normal;
}
@font-face {
	font-family: 'Amazon Ember';
	src: url('./AmazonEmber_ThIt.ttf') format('truetype');
	font-weight:100;
	font-style:italic;
}

//############ vault ############

//Regular
@font-face {
	font-family: 'Vault Alarm';
	src: url('./VaultAlarm-Regular.otf') format('truetype'),
	url('./VaultAlarm-Regular.woff') format('woff'),
	url('./VaultAlarm-Regular.woff2') format('woff2');
	font-weight:normal;
	font-style:normal;
}

//Sharp
@font-face {
	font-family: 'Vault Alarm';
	src: url('./VaultAlarm-Sharp.otf') format('truetype'),
	url('./VaultAlarm-Sharp.woff') format('woff'),
	url('./VaultAlarm-Sharp.woff2') format('woff2');
	font-weight:lighter;
	font-style:normal;
}
