@import "./color_schemes/dark";
//@import "../fonts/fonts";
//@import "../../../docs/_sass/fonts/fonts";


//############ Body ############

$white: #E7E7E7;
$grey-dk-300: #0C0C0D;
$link-color: #71A621;
$body-background-color: #0C0C0D;
$sidebar-color:#0C0C0D;
$body-font-family: "Amazon Ember" !important;
$border-color: #272727;


