@import "./color_schemes/dark";
@import "../fonts.scss";
//@import "fonts/fonts";
//@import "../../docs/_sass/fonts/fonts";
//@import "../../../v1/docs/_sass/fonts/fonts";
//@import "docs/collections/_fonts/fonts";
//@import "/AMZ-brandon.github.io/fonts/fonts";
//@import "../../AMZ-brandon.github.io/fonts/fonts";


//############ Body ############

$white: #E7E7E7;
$grey-dk-300: #0C0C0D;
$link-color: #71A621;
$body-background-color: #0C0C0D;
$sidebar-color:#0C0C0D;
$body-font-family: "Amazon Ember", system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Segoe UI Emoji" !default;
$border-color: #272727;


