@import "./color_schemes/dark";
@import "../fonts/fonts";

//############ Body ############

$white: #E7E7E7;
$grey-dk-300: #0C0C0D;
$link-color: #71A621;
$body-background-color: #0C0C0D;
$sidebar-color:#0C0C0D;
$body-font-family: "Amazon Ember" !important;
$border-color: #272727;




//############ import font ############

//Regular
@font-face {
	font-family: 'Amazon Ember';
	src: url('fonts/AmazonEmber_Rg.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family: 'Amazon Ember';
	src: url('fonts/AmazonEmber_RgIt.ttf') format('truetype');
	font-weight:normal;
	font-style:italic;
}


//Medium
@font-face {
	font-family: 'Amazon Ember';
	src: url('fonts/Amazon-Ember-Medium.ttf') format('truetype');
	font-weight:bold;
	font-style:normal;
}

@font-face {
	font-family: 'Amazon Ember';
	src: url('fonts/Amazon-Ember-MediumItalic.ttf') format('truetype');
	font-weight:bold;
	font-style:italic;
}


//Bold
@font-face {
	font-family: 'Amazon Ember';
	src: url('fonts/AmazonEmber_Bd.ttf') format('truetype');
	font-weight:bolder;
	font-style:normal;
}

@font-face {
	font-family: 'Amazon Ember';
	src: url('fonts/AmazonEmber_BdIt.ttf') format('truetype');
	font-weight:bolder;
	font-style:italic;
}



//Heavy

@font-face {
	font-family: 'Amazon Ember';
	src: url('fonts/AmazonEmber_He.ttf') format('truetype');
	font-weight:900;
	font-style:normal;
}

@font-face {
	font-family: 'Amazon Ember';
	src: url('fonts/AmazonEmber_HeIt.ttf') format('truetype');
	font-weight:900;
	font-style:italic;
}


//Light
@font-face {
	font-family: 'Amazon Ember';
	src: url('fonts/AmazonEmber_Lt.ttf') format('truetype');
	font-weight:lighter;
	font-style:normal;
}
@font-face {
	font-family: 'Amazon Ember';
	src: url('fonts/AmazonEmber_LtIt.ttf') format('truetype');
	font-weight:lighter;
	font-style:italic;
}


//Thin
@font-face {
	font-family: 'Amazon Ember';
	src: url('fonts/AmazonEmber_Th.ttf') format('truetype');
	font-weight:100;
	font-style:normal;
}
@font-face {
	font-family: 'Amazon Ember';
	src: url('fonts/AmazonEmber_ThIt.ttf') format('truetype');
	font-weight:100;
	font-style:italic;
}
